extends layout

block content
  div(class='shadow-lg rounded-md bg-white')
    h2(class='p-4 text-2xl font-black text-center') Log in
    form(method='POST' action='')
      div(class='p-4')
        label(for='email') 
        input#email(class='bg-gray-100 p-2 rounded-md' type='text' name='email' placeholder='Email')
      div(class='p-4')
        label(for='password') 
        input#password(class='bg-gray-100 p-2 rounded-md' type='password' name='password' placeholder='Password')
      if (messages.error)
        p(class='ml-4 text-red-400') #{messages.error}
      div(class='p-4')
        button(type='submit' class='w-full py-2 bg-blue-500 text-white rounded-md font-black') Submit
