extends layout

block content
  div
    p Log in
    form(method='POST' action='')
      div
        label(for='email') 
        input#email(type='text' name='email' placeholder='Email')
      div
        label(for='password') 
        input#password(type='password' name='password' placeholder='Password')
      button(type='submit') Submit
      ul
      if (messages.error)
        p #{messages.error}
