extends layout

block content
  div(class='shadow-lg rounded-md bg-white flex flex-col items-center justify-center ')
    h2(class='p-4 text-2xl font-black text-center') Sing up 
    form(method='POST' action='' class='flex flex-col justify-center items-center')
      div(class='p-4 flex justify-center')
        label(for='fistName')
        input#fistName(class='mr-2 p-2 bg-gray-100 rounded-md w-1/3' type='text' name='firstName' placeholder='First Name' value=(newUser ? newUser.firstName : ''))
        label(for='lastName')
        input#lastName(class='p-2 bg-gray-100 rounded-md w-1/3' type='text' name='lastName' placeholder='Last Name' value=(newUser ? newUser.lastName : ''))
      label(for='email')
      input#email(class='p-2 px-4 bg-gray-100 rounded-md w-100' type='email' name='email' placeholder='Email' value=(newUser ? newUser.email : ''))
      div(class='p-4 flex justify-center')
        label(for='password')
        input#password(class='mr-2 p-2 bg-gray-100 rounded-md w-1/3' type='password' name='password' placeholder='Password' value=(newUser ? newUser.password : ''))
        label(for='passwordConfrim')
        input#passwordConfrim(class='p-2 bg-gray-100 rounded-md w-1/3' type='password' name='passwordConfrim' placeholder='Confrim password')
      button(type='submit' class='m-4 mb-2 p-4 py-2 bg-blue-500 text-white rounded-md font-black') Submit

      ul(class='text-center text-red-400 mb-2')
        if errors
            for error in errors
              li(class='m-2')!= error.msg
        