extends layout

block content
  div(class='shadow-lg rounded-md bg-white ')
    h2(class='p-4 text-2xl font-black text-center') Sing up 
    form(method='POST' action='' class='p-2')
      div(class='flex flex-col justify-center')
        label(for='fistName')
        input#fistName(class='m-2 mr-2 p-2 bg-gray-100 rounded-md' type='text' name='firstName' placeholder='First Name' value=(newUser ? newUser.firstName : ''))
        label(for='lastName')
        input#lastName(class='m-2 p-2 bg-gray-100 rounded-md' type='text' name='lastName' placeholder='Last Name' value=(newUser ? newUser.lastName : ''))
      div(class='flex flex-col justify-center')
        label(for='email')
        input#email(class='m-2 p-2 bg-gray-100 rounded-md ' type='email' name='email' placeholder='Email' value=(newUser ? newUser.email : ''))
      div(class='flex flex-col justify-center')
        label(for='password')
        input#password(class='m-2 p-2 bg-gray-100 rounded-md' type='password' name='password' placeholder='Password' value=(newUser ? newUser.password : ''))
        label(for='passwordConfrim')
        input#passwordConfrim(class='m-2 p-2 bg-gray-100 rounded-md' type='password' name='passwordConfrim' placeholder='Confrim password')

      ul(class='text-center text-red-400 mb-2')
        if errors
            for error in errors
              li(class='m-2')!= error.msg
      
      div(class='flex justify-center')
        button(type='submit' class='p-2  m-2 bg-blue-500 w-11/12 text-white rounded-md font-black') Submit
        