@tailwind base; 
@tailwind components; 
@tailwind utilities;

@layer utilities {
    .masonary {
      columns: 3 200px;
      column-gap: 2rem;
    }
    .flex-1-0-auto {
      flex: 1 0 auto;
    }
}